<%= form_for(@batch) do |b| %>
  <table id="batch">
    <tr>
      <td><%= b.label :id, "Batch #" %></td>
      <td><%= @batch.id %></td>
    </tr>
    <tr>
      <td><%= b.label :name %></td>
      <td><%= b.text_field :name, autofocus: true %></td>
    </tr>
    <tr>
      <td><%= b.label :brew_date, "Brew Date" %></td>
      <td><%= b.date_select :brew_date, default: Date.today, use_two_digit_numbers: true %></td>
    </tr>
    <tr>
      <td><%= b.label :bottle_date, "Bottle Date" %></td>
      <td><%= b.date_select :bottle_date, use_two_digit_numbers: true, include_blank: true %></td>
    </tr>
    <tr>
      <td><%= b.label :age, "Age (Weeks)" %></td>
      <td><%= get_age(@batch) %></td>
    </tr>
    <tr>
      <td><%= b.label :og, "OG" %></td>
      <td><%= b.text_field :og %></td>
    </tr>
    <tr>
      <td><%= b.label :fg, "FG" %></td>
      <td><%= b.text_field :fg %></td>
    </tr>
    <tr>
      <td><%= b.label :abv, "ABV" %></td>
      <td><%= get_abv(@batch.og, @batch.fg) %>%</td>
    </tr>
    <tr>
      <td><%= b.label :ibu, "IBU" %></td>
      <td><%= b.text_field :ibu %></td>
    </tr>
    <tr>
      <td><%= b.label :srm, "SRM" %></td>
      <td><%= b.text_field :srm %></td>
    </tr>
    <tr>
      <td><%= b.label :volume, "Volume (Gallons)" %></td>
      <td><%= b.text_field :volume %></td>
    </tr>
    <tr>
      <td><%= b.label :bottles %></td>
      <td><%= b.text_field :bottles %></td>
    </tr>
    <tr>
      <td><%= b.label :bottle_conditioned, "Bottle Conditioned" %></td>
      <td>
          <%= b.radio_button :bottle_conditioned, 'no' %>
          <%= b.label :bottle_conditioned, 'No', :value => 'no' %>
          <%= b.radio_button :bottle_conditioned, 'yes' %>
          <%= b.label :bottle_conditioned, 'Yes', :value => 'yes' %>
      </td>
    </tr>
    <tr>
      <td><%= b.label :notes %></td>
      <td><%= b.text_area :notes, size: "60x8" %></td>
    </tr>
    <tr>
      <td><%= b.label :description %></td>
      <td><%= b.text_area :description, size: "60x8"  %></td>
    </tr>
    <tr>
      <td><%= b.label :awards %></td>
      <td><%= b.text_area :awards, size: "60x8"  %></td>
    </tr>
    <tr>
      <td><%= b.label :ontap, "On Tap" %></td>
      <td>
          <%= b.radio_button :ontap, 'no' %>
          <%= b.label :ontap, 'No', :value => 'no' %>
          <%= b.radio_button :ontap, 'coming soon' %>
          <%= b.label :ontap, 'Coming Soon', :value => 'coming soon' %>
          <%= b.radio_button :ontap, 'yes' %>
          <%= b.label :ontap, 'Yes', :value => 'yes' %>
      </td>
    </tr>
  </table>
  <table>
  <tr>
    <td>
      </br>
      <%= b.submit %>
    </td>
    <td>
      </br>
      <%= b.submit "cancel", :value => 'Cancel', data: { confirm: 'Are you sure you want to cancel?' } %>
    </td>
  </tr> 
  </table>  
<% end %>
