<table id="batches">
  <tr>
    <th><%= sortable "id", "Id" %></th>
    <th><%= sortable "name", "Name" %></th>
    <th><%= sortable "brew_date", "Brew Date" %></th>
    <th><%= sortable "bottle_date", "Bottle Date" %></th>
    <th>Age (Weeks)</th>
    <th><%= sortable "og", "OG" %></th>
    <th><%= sortable "fg", "FG" %></th>
    <th>ABV</th>
    <th><%= sortable "ibu", "IBUs" %></th>
    <th><%= sortable "srm", "SRM" %></th>
    <th><%= sortable "volume", "Volume (Gals)" %></th>
    <th><%= sortable "bottles", "Bottles" %></th>
  </tr>
 
  <% @batches.each do |batch| %>

    <tr onclick="location.href = 'batches/<%= batch.id %>'">
      <td><%= batch.id %></td>
      <td><%= batch.name %></td>
      <td><%= format_date(batch.brew_date) %></td>
      <td><%= format_date(batch.bottle_date) %></td>
      <td><%= get_age(batch.bottle_date) %></td>
      <td><%= batch.og %></td>
      <td><%= batch.fg %></td>
      <td><%= get_abv(batch.og, batch.fg) %>%</td>
      <td><%= batch.ibu %></td>
      <td><%= batch.srm %></td>
      <td><%= batch.volume %></td>
      <td><%= batch.bottles %></td>
    </tr>
  <% end %>
</table>
