<table id="batches">
  <tr>
    <th>Batch #</th>
    <th>Name</th>
    <th>Brew</br>Date</th>
    <th>Bottle</br>Date</th>
    <th>Age</br>(Weeks)</th>
    <th>OG</th>
    <th>FG</th>
    <th>ABV</th>
    <th>IBUs</th>
    <th>SRM</th>
    <th>On Tap</th>
  </tr>
 
  <% @batches.each do |batch| %>

    <tr onclick="location.href = 'batches/<%= batch.id %>'">
      <td><%= batch.id %></td>
      <td><%= batch.name %></td>
      <td><%= format_date(batch.brew_date) %></td>
      <td><%= format_date(batch.bottle_date) %></td>
      <td><%= get_age(batch) %></td>
      <td><%= batch.og %></td>
      <td><%= batch.fg %></td>
      <td><%= get_abv(batch.og, batch.fg) %>%</td>
      <td><%= batch.ibu %></td>
      <td><%= batch.srm %></td>
      <td><%= batch.ontap %></td>
    </tr>
  <% end %>
</table>
