<table id="batch">
  <tr>
    <td>Batch #</td>
    <td><%= @batch.id %></td>
  </tr>
  <tr>
    <td>Name</td>
    <td><%= @batch.name %></td>
  </tr>
  <tr>
    <td>Brew Date</td>
    <td><%= format_date(@batch.brew_date) %></td>
  </tr>
  <tr>    
    <td>Bottle Date</td>
    <td><%= format_date(@batch.bottle_date) %></td>
  </tr>
  <tr> 
    <td>Age (Weeks)</td>
    <td><%= get_age(@batch.bottle_date) %></td>
  </tr>
  <tr>    
    <td>OG</td>
    <td><%= @batch.og %></td>
  </tr>
  <tr> 
    <td>FG</td>
    <td><%= @batch.fg %></td>
  </tr>
  <tr>    
    <td>ABV</td>
    <td><%= get_abv(@batch.og, @batch.fg) %>%</td>
  </tr>
  <tr> 
    <td>IBUs</td>
    <td><%= @batch.ibu %></td>
  </tr>
  <tr>    
    <td>SRM</td>
    <td><%= @batch.srm %></td>
  </tr>
  <tr>     
    <td>Volume (Gallons)</td>
    <td><%= @batch.volume %></td>
  </tr>
  <tr>    
    <td>Bottles</td>
    <td><%= @batch.bottles %></td>
  </tr>
  <tr>    
    <td>Bottle Conditioned</td>
    <td><%= @batch.bottle_conditioned %></td>
  </tr>
  <tr>    
    <td>Notes</td>
    <td><%= @batch.notes %></td>
  </tr>
  <tr>    
    <td>Description</td>
    <td><%= @batch.description %></td>
  </tr>
  <tr>    
    <td>Awards</td>
    <td><%= @batch.awards %></td>
  </tr>
  <tr>    
    <td>On Tap</td>
    <td><%= @batch.ontap %></td>
  </tr>
</table>
</br>
<%= button_to 'Edit', edit_batch_path(@batch), method: :get %>

